.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cube-image {
  border-color: lightblue;
  border-style: solid;
}

.item-list {
  text-align: left;
  list-style: none;
}

.cube-box {
  border-style: solid;
  border-color: red;

  padding: 50px;
  margin-bottom: 50px;
}
